<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%#= f.text_field :category %>
    <%= f.select( :category , options_for_select(%w{ 音楽 スポーツ 映画 演劇 クラシックイベント・アート アニメ 韓流}, '音楽')) %>
  </div>
  <div class="field">
    <%= f.label :ticket_count %><br>
    <%= f.number_field :ticket_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
