<p id="notice"><%= notice %></p>
<h2>イベント詳細</h2>
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Ticket count:</strong>
  <%= @event.ticket_count %>
</p>





<p>
  ※ チケットの残り枚数<%= @left %>枚(<%= @event.name %>)
</p>

<p>
<!-- Raised button with ripple -->

<%= link_to('予約する', new_reservation_path(event_id: @event.id), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect") %>
</p>

<%= link_to '戻る', root_path %>