<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br>
    <%#= f.text_field :event_id %>
    <%= f.collection_select(:event_id, Event.all, :id, :name) %>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :name, class: "mdl-textfield__label" %>
    <%= f.text_field :name, class: "mdl-textfield__input" %>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :tel, class: "mdl-textfield__label" %>
    <%= f.text_field :tel, class: "mdl-textfield__input" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
