<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @reservation.event %>
</p>

<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @reservation.tel %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
